.DS_Store
.AppleDouble
.LSOverride
._*
.idea
.Spotlight-V100
.Trashes
picsio.sublime-workspace
node_modules
npm-debug.log
npm-debug.log.*
pids
*.pid
*.seed
docs/
/static/raws/*
/static/*.dng
*.swp
**/*.swp
*.swo
**/*.swo
/static/cache/images/*
/static/cache/metadata/*
/static/shares/*
static/cache/images/*
static/cache/metadata/*
static/shares/*
static/chrome/
Pics.io_Chrome_app.zip
/static/assets/css/fonts.css
/static/assets/css/reset.css
/static/assets/css/raw/inner.css
/static/assets/css/raw/main.css
/static/assets/css/app.css
static/optimized.js
mongodb.vova.conf
mongodb.bash.conf

.cache*

**/*.js.json

.coverage/
.nyc_output/
.idea/
.vscode/
.artefacts/

coverage
.security_audit
.license_audit

bundle.js

*.pavel.*
/app/keywords/uploads/*
!/app/keywords/uploads/.gitkeep.vscode

dist/
.env
!/fastlane/.env
/storybook_dist
/builds
android-keystore.jks

**/fastlane/report.xml
