@import '../../../css/base/colors.scss';
@import '../../../css/mixins.scss';

.tag {
  display: inline-flex;
  height: 20px;
  padding: 0 6px 0 5px;
  color: #323232;
  background-color: currentColor;
  border-radius: 2px;
  margin-left: 5px;
  position: relative;
  margin-bottom: 5px;
  // max-width: calc(100% - 25px);
  max-width: 100%;
  align-items: stretch;
  line-height: 1;

  &.isSelected {
    color: $brandColor;

    .tagTitle {
      color: #212121;
    }
  }
}

.tagAvatar {
  height: 16px;
  margin: auto 5px auto -3px;
  overflow: hidden;
}

.tagTitle {
  color: #ccc;
  display: block;
  // float: right;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 1 auto;
  padding: 2px 0;
  word-break: break-all;
}

.tagTitleWrapper {
  overflow: hidden;
}


.tagLong {
  height: auto;

  .tagTitleWrapper {
    &::after {
      content: none !important;
    }
  }

  .tagTitle {
    white-space: normal;
  }
}

.tagRemove {
  cursor: pointer;
  box-sizing: border-box;
  color: #ccc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 -6px 0 2px;
  padding: 0 5px;
  transition: all .3s ease;
  font-size: 6px;
  width: 20px;
  text-align: center;
  align-self: flex-start;
  height: 20px;

	&:hover {
		background: rgba(0, 0, 0, 0.1);
	}

	@include media('<desktop') {
		margin-right: -10px;
	}
}

.tagCollection {
	max-width: calc(100% - 25px);

	.tagTitle {
		float: right;
	}

	&::before {
		content: '';
		display: block;
		width: 20px;
		height: 8px;
		position: absolute;
		left: 0;
		top: -3px;
		background-color: currentColor;
		z-index: 1;
		border-radius: 3px;
	}

	&.act {
		background-color: $brandColor;

		&::before {
			background-color: $brandColor;
		}

		.tagTitle {
			color: #161616;
		}

		.tagRemove {
			color: $darkgray;
		}
	}

	.tagTitleWrapper {
		overflow: hidden;
		position: relative;
		margin-left: -5px;
		padding-left: 5px;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 5px;
			background-image: linear-gradient(to right, rgba(50,50,50,1), rgba(50,50,50,0));
			z-index: 2;
		}

		@include media('<desktop') {
			margin-left: -14px;
			padding-left: 14px;

			&::after {
				width: 14px;
			}
		}
	}
}

.tagKeyword {
	border-radius: 10px;
	padding: 0 10px;

	.tagRemove {
		border-radius: 0 10px 10px 0;
		margin-right: -10px;

		@include media('<desktop') {
			width: 30px;
			border-radius: 0 20px 20px 0;
			margin-right: -14px;
		}
	}

	@include media('<desktop') {
		border-radius: 20px;
		padding-right: 6px;
		padding-left: 14px;
	}
}

.tagUser {
	border-radius: 10px;
	padding: 0 6px 0 5px;

	.tagRemove {
		border-radius: 0 10px 10px 0;

		@include media('<desktop') {
			width: 30px;
			border-radius: 0 20px 20px 0;
		}
	}

	@include media('<desktop') {
		border-radius: 20px;
		padding-right: 6px;
		padding-left: 14px;
		align-items: center;
	}
}

@include media('<desktop') {
	.tag {
		height: 40px;
		padding: 0 14px;
		align-items: center;
	}

	.tagLong {
		height: auto;

		.tagTitle {
			padding: 8px 0;
		}
	}

	.tagRemove {
		width: 30px;
		min-width: 30px;
		height: 40px;
		margin-right: -14px;
	}
}

.picsioThemeLight {
	.tag {
		color: #e2e2e2;
	}

	.tagTitle,
	.tagRemove {
		color: #666;
	}

  .roleTag {
    &.act {
      border-bottom: 2px solid $brandColorLightTheme;
    }
  }

	.tagCollection {
		&.act {
			color: $brandColor;
			background-color: $brandColorLightTheme;

			&::before {
				background-color: $brandColorLightTheme;
			}

			.tagTitle {
				color: #fff;
			}

			.tagRemove {
				color: #fff;
			}
		}

		.tagTitleWrapper {
			&::after {
				background-image: linear-gradient(to right, rgba(226,226,226,1), rgba(226,226,226,0));
			}
		}
	}
}

.roleTag {
  display: flex;
  align-items: center;
  margin-right: 24px;
  flex-wrap: wrap;
  margin-bottom: 13px;
  box-sizing: border-box;
  padding-bottom: 13px;
  border-bottom: 2px solid transparent;
  &.isSelected {
    color: #ffcc00;
  }

  .tagTitle {
    color: #808080;
  }

  .folderIcon  {
      width: 20px;
      margin-right: 10px;
      path {
        fill: #808080;
      }
  }

	.tagRemove {
		&:hover {
			background: transparent;
		}
	}

  &.act {
    border-bottom: 2px solid #ffcc00;
      .tagTitle {
          color: #ffcc00;
      }

      .folderIcon  {
        path {
          fill: #ffcc00;
        }
      }

    .tagRemove {
      color: #ffcc00;
      &:hover {
        background: transparent;
      }
    }
  }
}

.picsioThemeLight {
  .roleTag {
    &.isSelected {
      color: $brandColor;
    }
    &.act {
      .tagTitle {
        color: $brandColorLightTheme;
      }

      .folderIcon  {
        path {
          fill: $brandColorLightTheme;
        }
      }

      .tagRemove {
        color: $brandColorLightTheme;
        &:hover {
          background: transparent;
        }
      }
    }
  }
}
