<!DOCTYPE html>
<html lang="en" class="picsioThemeDark">
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- start STYLES -->
		{{#isProd}}{{/isProd}}
		{{^isProd}}{{/isProd}}
		<link rel="stylesheet" href="https://assets.pics.io/css/picsioSpinner.css">
		<link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,900,900i&display=swap&subset=cyrillic" rel="stylesheet">
	<!-- end STYLES -->

	<% if(websiteConfig.noFollow && websiteConfig.noIndex){ %>
		<meta name="robots" content="noindex, nofollow" />
		<meta name="googlebot" content="noindex" />
	<% } else if(websiteConfig.noFollow) { %>
		<meta name="robots" content="nofollow" />
	<% } else if(websiteConfig.noIndex) { %>
		<meta name="robots" content="noindex" />
		<meta name="googlebot" content="noindex" />
	<% } %>

	<meta name="title" content="<%= meta.head.title %>" />
	<title><%= meta.head.title %></title>
	<meta name="description" content="<%= meta.head.description %>" />
	<meta name="author" content="<%= meta.head.author %>" />

	<link rel="image_src" href="https://assets.pics.io/img/picsio-color-logo.png" />

	<meta itemprop="image" content="https://assets.pics.io/img/picsio-color-logo.png">
	<meta property="og:title" content="<%= meta.head.og.title %>">
	<meta property="og:type" content="article">
	<meta property="og:url" content="<%= baseUrl %>">
	<meta property="og:image" content="https://assets.pics.io/img/picsio-color-logo.png">
	<meta property="og:description" content="<%= meta.head.og.description %>">
	<meta property="og:author" content="<%= meta.head.og.author %>" />


	<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
	<link rel="dns-prefetch" href="//apis.google.com">

	<!-- start favicon -->
	<% if(brandingSettings.faviconUrl) { %>
	    <link rel="shortcut icon" href="<%- brandingSettings.faviconUrl %>">
	<% } else {%>
	    <link rel="shortcut icon" href="https://assets.pics.io/img/favicon/faviconPicsio/favicon.ico">
	    <link rel="apple-touch-icon" sizes="57x57" href="https://assets.pics.io/img/favicon/faviconPicsio/apple-touch-icon-57x57.png">
	    <link rel="apple-touch-icon" sizes="60x60" href="https://assets.pics.io/img/favicon/faviconPicsio/apple-touch-icon-60x60.png">
	    <link rel="apple-touch-icon" sizes="72x72" href="https://assets.pics.io/img/favicon/faviconPicsio/apple-touch-icon-72x72.png">
	    <link rel="apple-touch-icon" sizes="76x76" href="https://assets.pics.io/img/favicon/faviconPicsio/apple-touch-icon-76x76.png">
	    <link rel="apple-touch-icon" sizes="114x114" href="https://assets.pics.io/img/favicon/faviconPicsio/apple-touch-icon-114x114.png">
	    <link rel="apple-touch-icon" sizes="120x120" href="https://assets.pics.io/img/favicon/faviconPicsio/apple-touch-icon-120x120.png">
	    <link rel="apple-touch-icon" sizes="144x144" href="https://assets.pics.io/img/favicon/faviconPicsio/apple-touch-icon-144x144.png">
	    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.pics.io/img/favicon/faviconPicsio/apple-touch-icon-152x152.png">
	    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.pics.io/img/favicon/faviconPicsio/apple-touch-icon-180x180.png">
	    <link rel="icon" type="image/png" href="https://assets.pics.io/img/favicon/faviconPicsio/android-icon-192x192.png" sizes="192x192">
	    <link rel="icon" type="image/png" href="https://assets.pics.io/img/favicon/faviconPicsio/favicon-196x196.png" sizes="196x196">
	    <link rel="icon" type="image/png" href="https://assets.pics.io/img/favicon/faviconPicsio/favicon-160x160.png" sizes="160x160">
	    <link rel="icon" type="image/png" href="https://assets.pics.io/img/favicon/faviconPicsio/favicon-96x96.png" sizes="96x96">
	    <link rel="icon" type="image/png" href="https://assets.pics.io/img/favicon/faviconPicsio/favicon-48x48.png" sizes="48x48">
	    <link rel="icon" type="image/png" href="https://assets.pics.io/img/favicon/faviconPicsio/favicon-32x32.png" sizes="32x32">
	    <link rel="icon" type="image/png" href="https://assets.pics.io/img/favicon/faviconPicsio/favicon-16x16.png" sizes="16x16">
	    <link rel="manifest" href="https://assets.pics.io/img/favicon/faviconPicsio/manifest.json">
	    <meta name="msapplication-TileColor" content="#ffcc00">
	    <meta name="msapplication-TileImage" content="https://assets.pics.io/img/favicon/faviconPicsio/mstile-144x144.png">
	    <meta name="msapplication-config" content="https://assets.pics.io/img/favicon/faviconPicsio/browserconfig.xml">
	<% } %>
	<!-- end favicon -->
	
	<script type="text/javascript">
		// Init Pics.io main namespace with default user config.
		window.Picsio = {
			// URL to send requests to, every Pics.io API call will send to this url
			apiBaseUrl: "<%- locals.apiBaseUrl %>",
			// URL to send requests to, every Events API call and WebSocket connections  will send to this url
			eventsBaseUrl: "<%- locals.eventsBaseUrl %>",
			// URL to send requests to, every Websites API call will send to this url
			websitesBaseUrl: "<%- locals.websitesBaseUrl %>",
			// URL to send requests to, every Inboxes API call will send to this url
			inboxesBaseUrl: "<%- locals.inboxesBaseUrl %>",
			// URL to send requests to, every Proxy API call will send to this url
			proxyBaseUrl: "<%- locals.proxyBaseUrl %>",
			// URL to fetch custoom thumbnails from
			customThumbnailsBaseUrl: "<%- locals.customThumbnailsBaseUrl %>",
			// URL to send requests to, every Thumbnaile API call will send to this url
			thumbnailerBaseUrl: "<%- locals.thumbnailerBaseUrl %>",
			// Should be keyworder base url but direct function url
			// TODO: please refactor me to keyworderBaseUrl use
			keyworderAnalyzeUrl: "<%- locals.keyworderAnalyzeUrl %>",
			// Pack of zipper URLs
			// TODO: please refactor me to zipperBaseUrl
			zipperZipUrl: "<%- locals.zipperZipUrl %>",
			zipperZipUrlGD: "<%- locals.zipperZipUrlGD %>",
			zipperZipUrlS3: "<%- locals.zipperZipUrlS3 %>",
			zipperDownloadPageUrl: "<%- locals.zipperDownloadPageUrl %>",
			zipperDownloadByGSUrl: "<%- locals.zipperDownloadByGSUrl %>",
			// Pics.io UI color theme name — "picsioThemeDark" or "picsioThemeLight". Also set as CSS class name to the root <HTML> element
			theme: "<%- locals.theme %>",
			// Static files base url. Will be https://bundles.pics.io/picsio/ for Pics.io app, https://bundles.pics.io/proofing/ for Proofing app, etc.
			// It used to dynamically download JS chunks
			remoteHtmlUrl: "<%- locals.remoteHtmlUrl %>",
		};
	</script>
	<!-- Google Analytics code -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=<%= websiteConfig.googleAnalyticsIdentifier || 'UA-25877411-2' %>"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '<%= websiteConfig.googleAnalyticsIdentifier || "UA-25877411-2" %>');
	</script>
	<script>
		var getLocation = function(href) {
			var l = document.createElement('a');
			l.href = href;
			return l;
		};
		window.pathname = getLocation("<%- baseUrl %>").pathname;
		window.websiteConfig = <%- JSON.stringify(websiteConfig) %>;
	</script>
</head>

<body class="proofing">
	<!-- Start up spinner -->
	<div class="picsioSpinner blockUI" id="start-up-spinner">
		<div class="innerPicsioSpinner">
			<div class="spinner">
				<div></div>
				<span></span>
			</div>
			<span class="titleSpinner"></span>
			<span class="textSpinner"></span>
		</div>
	</div>

	<div class="wrapperPicsioApp"></div>

	<div id="dialogRoot">
		<div class="wrapperDialog"></div>
		<div class="wrapperDownloadDialog"></div>
		<div class="popperWrapper"></div>
	</div>

	<div id="webRoot"><%- locals.remoteHtmlUrl %>/</div>

	<!-- <script defer src="https://apis.google.com/js/client.js?onload=gapiIsLoaded" type="text/javascript"></script> -->
</body>
</html>
