@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.loginGoogle {
  margin-top: 15px;
}

.google-btn {
  width: 100%;
  display: inline-flex;
  padding: 0;
  background-color: $google-blue;
  color: $white;
  border-radius: 5px;
  border: 1px solid $google-blue;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  box-sizing: border-box;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  font-family: inherit;

  .popup & {
    margin-bottom: 15px;
  }

  &-icon {
    padding: 15px;
    background-color: #fff;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
  }

  &-text {
    font: 500 18px/48px 'Roboto', Arial, sans-serif;
    letter-spacing: .21px;
    padding-right: 8px;
    padding-left: 8px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    flex-grow: 1;
  }

  &:hover {
    box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
  }

  &:active {
    background-color: #3367d6;
    border-color: #3367d6;
  }

  i {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }
}

// desktop button style below
@import '../../../css/mixins';

.googleBtn {
  position: relative;
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #4285f4;
  background-color: #4285f4;
  -webkit-appearance: none;
  outline: 0;
  vertical-align: middle;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  font: 500 15px/38px Roboto, Arial, sans-serif;
  letter-spacing: 0.21px;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #4285f4;
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
  }

  &:active {
    background-color: #3367d6;
    border-color: #3367d6;
  }

  &Text {
    flex-grow: 2;
    vertical-align: top;
    padding-right: 11px;
    padding-left: 11px;
  }

  &Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 38px;
    height: 38px;
  }

  @include media('<desktop') {
    text-align: left;
  }
}

.picsioThemeLight {
  .googleBtn {
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    color: #757575;

    &Icon {
      background-color: inherit;
    }

    &:focus,
    &:hover {
      box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: #e5e5e5;
      border-color: #e5e5e5;
      box-shadow: none;
    }
  }
}